.movie-card {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--branco);
    transition: transform 0.2s ease;
    border: 3px solid var(--amarelo);
    position: relative;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.poster-image {
    width: 100%;
    height: 100%;
}