:root {
  --branco: #ffff;
  --amarelo: #FFC800;
  --azulEscuro: #1E1E4F;
  --cinzaEscuro: #131313;
  --preto: black;
}

body {
  background-color: var(--preto);
}

.not-found {
  margin-top: 30vh;
  margin-bottom: 30vh;
}